.grid-container {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter {
  display: flex;
  flex-direction: column;
}

table {
  width: fit-content;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
